<h1>Vehicles</h1>
<input type="text"[(ngModel)]="searchkeyword" (keyup)="search()">

<select [(ngModel)]="coloumnName">
    <option value="Vehicle">Vehicle Name</option>
    <option value="manufacturer">Manufacturer</option>
    <option value="cost">cost</option>
    <option value="color">color</option>
</select>
<select [(ngModel)]="sortOrder" >
    <option value="asc">Ascending Order</option>
    <option value="desc">Descending Order</option>
</select>
<button class="btn btn-warning" (click)="sort()">Sort</button>

<!-- vehicles pagination -->
 <select [(ngModel)]="items">
 <option value="5">5</option>
 <option value="10">10</option>
 <option value="15">15</option>
 <option value="20">20</option>
</select>
 <select [(ngModel)]="pagenumber">
 <option value="1">1</option>
 <option value="2">2</option>
 <option value="3">3</option>
 <option value="4">4</option>
</select>
<button class="btn btn-success" (click)="pagination()">pagination</button>



<table class="table table-success">
    <thead>
        <tr>
            <th>vehicle</th>
            <th>manufacture</th>
            <th>cost</th>
            <th>color</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.color}}</td>
           <td> <img src="{{vehicle.image}}" height="30%" width="30%" alt=""></td>
           <td>
            <button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button>
           </td>
           <td>
            <button class="btn btn-warning" routerLink="/dashboard/vehicles-details/{{vehicle.id}}">View</button>
            
           </td>
           <td>
            <button class="btn btn-primary" routerLink="/dashboard/edit-vehicle/{{vehicle.id}}">Edit</button>
            
           </td>
        </tr>
    </tbody>
</table>

