<h2>Student ID Card</h2>

<input type="text" gap="10px" [(ngModel)]="searchkeyword" (keyup)="search()" >

<select [(ngModel)] ="coloumnName">
    <option value="name">Name</option>
    <option value="phone">Phone</option>
    <option value="city">City</option>
    <option value="dob">DOB</option>
    <option value="email">Email</option>
    <option value="school_city">School City</option>
    <option value="school_pin">School Pin</option>
    <option value="school_name">School Name</option>
</select>

<select [(ngModel)] ="sortOrder">
    <option value="asc">Ascending order</option>
    <option value="desc">Descending order</option>
</select>


<button class="btn btn-primary" (click)="sort()">Sort</button>


<select [(ngModel)]="items" >
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
</select>

<select [(ngModel)]="pagenumber" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>

<button class="btn btn-primary" (click)="pagination()" >Submit</button>
<button class="btn btn-info" (click)="create()">Create</button>

<div class="parent">
    <div class="card" *ngFor="let student of ID_Details">
        <div class="top">
        <img src="{{student.school_logo}}" alt="" style="width: 80px; height: 55px;" >
        <h5>{{student.school_name}}</h5>
        </div>

        <div class="middle">
            <div class="mid-left">
                <h5>Name:{{student.name}}</h5>
                <h5>Phone:{{student.phone}}</h5>
                <h5>City:{{student.city}}</h5>
                <h5>DOB:{{student.dob}}</h5>
                <h5>Email:{{student.email}}</h5>    
            </div>
            <div class="mid-right">
                <div><img src="{{student.profile_picture}}" alt=""></div>
            </div>
        </div>
        <div class="bottom">
        <div class="bottom-top">
            <h6> School_city:{{student.school_city}}</h6>
            <h6> School_pin:{{student.school_pin}}</h6>
        </div>
        <div class="bottom-down">
            <button routerLink="/dashboard/student-details/{{student.id}}" style="width: 50px; height: 30px;border-radius: 10px;background-color:aqua;">View</button>
            <button routerLink="/dashboard/edit-StudentDetails/{{student.id}}" style="width: 50px; height: 30px; border-radius: 10px; background-color:blue;">Edit</button>
            <button style="width: 65px; height: 30px; border-radius: 10px; background-color: red;" (click)="delete(student.id)">Delete</button>
            </div>
        </div>
    </div>
</div>