<div class="parent">
    <div class="left">
        <h1>My website</h1>
        <!-- <h2 routerLink="/dashboard/home">Home</h2> -->
        <!-- <h2  routerLink="/dashboard/gallery">Gallery</h2> -->
         <!-- <h2 routerLink="/dashboard/welcome">Welcome</h2> -->
         <!-- <h2 routerLink="/dashboard/DataBinding">DataBinding</h2> -->
         <!-- <h2 routerLink="/dashboard/calculator">Calculator</h2> -->
         <!-- <h2 routerLink="/dashboard/rectangle">Rectangle</h2> -->
         <h2 routerLink="/dashboard/circle">Circle</h2>
        <h2 routerLink="/dashboard/BMI">BMI</h2>
        <h2 routerLink="/dashboard/Directives">Directives</h2>
        <h2 routerLink="/dashboard/Employee">Employee</h2>
        <h2 routerLink="/dashboard/Products">Products</h2>
        <h2 routerLink="/dashboard/Vehicles">Vehicles</h2>
        <h2 routerLink="/dashboard/mail">Mail</h2>
        <h2 routerLink="/dashboard/Flipkart">FlipKart</h2>
        <h2 routerLink="/dashboard/Pintrest">Pintrest</h2>
        <h2 routerLink="/dashboard/WeatherReport">WeatherReport</h2>
        <h2 routerLink="/dashboard/createVehicle">createVehicle</h2>
        <h2 routerLink="/dashboard/Student">Student</h2>
        <h2 routerLink="/dashboard/createUser">createUser</h2>
        <h2 routerLink="/dashboard/creatStudent">creatStudent</h2>
                               
        </div>
    <div class="right">
        <router-outlet></router-outlet>
      </div>
    </div>
